<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      @keyframes showAndHide {
        0% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
      .alert {
        padding: 1rem;
        position: fixed;
        bottom: 3rem;
        width: 300px;
        right: 3rem;
        background-color: #2e7d32;
        color: white;
        animation: showAndHide 2s ease-in-out;
        animation-fill-mode: forwards;
      }
    </style>
  </head>
  <body>
    <% for (value of success) { %>
    <div class="alert">
      <i class="material-icons left">check_circle</i>Success: <%= value%>
    </div>
    <% } %>
  </body>
</html>
