<!doctype html>
<html>
  <head>
    <title>Data Table</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="icon" href="images/logo.png" type="image/png" sizes="16x16" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <style>
      .layout {
        max-width: 1250px;
        margin: auto;
      }
      .delete {
        background-color: #d32f2f !important;
        color: white;
      }
      .update {
        color: white;
        background-color: #2e7d32 !important;
      }
    </style>
  </head>
  <body>
    <%- include("./components/header"); %>
    <div class="layout">
      <%- include("./components/form/create-nation-form")%>
    </div>
    <%- include("./components/alert/error") %>
  </body>
</html>
