@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: #3e3f5e;
  font-size: 14px;
  letter-spacing: 0.1px;
}

p {
  color: #7d7e9e;
  font-size: 14px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  margin-top: 0;
  font-weight: 300;
}

/*span{
    color: #adafca;
}*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  margin: 0;
  color: #3e3f5e;
}

ul,
ol {
  margin-top: 0;
}

a,
a:hover,
a:focus,
a:active {
  outline: none;
  color: inherit;
  -webkit-text-decoration: none;
  -moz-text-decoration: none;
  -ms-text-decoration: none;
  -o-text-decoration: none;
  text-decoration: none;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

img {
  height: auto;
  max-width: 100%;
}

ins {
  background: transparent;
}

/*--- payout & earning page ---*/

table.table-default {
  margin-bottom: 0;
  border-radius: 5px;
  background: #fff;
}

table.table-default thead th {
  background: #088dcd none repeat scroll 0 0;
  border-top: 0 none;
  font-size: 13px;
  padding: 12px 15px;
  color: #fff;
  text-transform: capitalize !important;
}

table.table.table-default tbody td {
  font-size: 12px;
  padding: 15px 20px;
}

table.table.table-default tbody td a:hover {
  text-decoration: underline;
}

button {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #555555;
  cursor: pointer;
  padding: 8px 15px;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #f5f5f5;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ccc;
}

th {
  background-color: #2B3445;
  font-weight: bold;
  color: white;
}

td {
  background-color: #fff;
  color: #333;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 100px;
  text-align: right;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
  width: 418px;
  height: 33.78px;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  padding: 1px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

tr:hover {
  background-color: #f5f5f5;
}

form {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.inside-form {
  max-width: 500px;
  margin: 40px auto;
  padding: 10px 40px 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
}

.submit-form {
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 0.5rem;
}

.submit-form:hover {
  background-color: #0056b3;
}

/* .close-form {
  max-width: 100px;
  display: block;
  width: 100%;
  padding: 15px;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
} */

.login-button:hover {
  background-color: #0056b3;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-box {
  display: flex;
  align-items: center;
}

/* Thiết lập kiểu cho navbar */
.navbar {
  border-radius: inherit;
  height: 100%;
  min-height: 500px;
  width: 100%; /* Điều chỉnh chiều rộng của thanh navbar bên trái */
  background-color: #333; 
}

/* Thiết lập kiểu cho danh sách menu */
.navbar ul {
  border-radius: inherit;
  list-style-type: none;
  padding: 0;
}

/* Thiết lập kiểu cho các mục menu */
.navbar li {
  font-size: large;
}

/* Thiết lập kiểu cho các liên kết menu */
.navbar a {
  border-radius: inherit;
  text-decoration: none;
  padding: 20px;
  color: white; /* Màu văn bản của liên kết */
  display: block; /* Các liên kết hiển thị dạng khối để điều chỉnh kích thước và khoảng cách */
}

/* Tạo hiệu ứng hover cho các liên kết menu */
.navbar a:hover {
  border-radius: inherit;
  background-color: #555;
}

/* Thiết lập kiểu cho nội dung chính */

.grid-layout {
  max-width: 1400px;
  margin: 5rem auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.grid-item {
  border-radius: 1rem;
  margin: 10px;
  /* background-color: #ebeaea; */
  /* box-shadow: 0px 0px 1px black; */
}
.search {
  margin: 0 !important;
}
.delete {
  background-color: #d32f2f;
  color: white;
}
.update {
  color: white;
  background-color: #2e7d32;
}
